body {
  font-family: 'Lato', sans-serif;
}

.logo {
    > img{
        // Fit container
        max-width:100%;
        max-height:100%;
    }
}

.language {
    float: right;
    font-weight: 100;
    font-size: 150%;
}

.joinus {
    font-size: 200%;
}
